

<ion-grid>
  <ion-card-header>
    <ion-card-title>Players Summary</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <!-- Content related to the function if needed -->
    <div class="summary-container">
      <div class="summary-item">
        <h3>Total Players</h3>
        <p>
          <ion-badge class="custom-badge" color="success">{{ playerSummary.playersTotal }}</ion-badge>
        </p>
      </div>
      <div class="summary-item">
        <h3>Available Players</h3>
        <p>
          <ion-badge class="custom-badge"  color="tertiary">{{ playerSummary.playersAvailable }}</ion-badge>
        </p>
      </div>
      <div class="summary-item">
        <h3>In-Game Players</h3>
        <p>
          <ion-badge class="custom-badge"  color="warning">{{ playerSummary.playersInGame }}</ion-badge>
        </p>
      </div>
      <div class="summary-item">
        <h3>Players on Rest</h3>
        <p>
          <ion-badge class="custom-badge"  color="secondary">{{ playerSummary.playersAtRest }}</ion-badge>
        </p>
      </div>
      <div class="summary-item">
        <h3>On Hold Players</h3>
        <p>
          <ion-badge class="custom-badge"  color="primary">{{ playerSummary.playersOnHold }}</ion-badge>
        </p>
      </div>
    </div>
  </ion-card-content>

</ion-grid>




