<ion-grid>
  <ion-row>
    <ion-col size="5">
      <ion-text color="primary">
        <h1>Player List</h1>
      </ion-text>
    </ion-col>
    <ion-col size="7" class="ion-text-end">
      <ion-button color="danger" (click)="resetPlayers()" class="adjust-font-size">
        <ion-icon name="trash-outline" src="assets/icons/trash-outline.svg"></ion-icon>
        Reset Players
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-label>
          <ion-row>
            <ion-col size="1" class="adjust-font-size">#</ion-col>
            <ion-col size="3" class="adjust-font-size">Name</ion-col>
            <ion-col size="2" class="adjust-font-size">Games Played</ion-col>
            <ion-col size="2" class="adjust-font-size">Status</ion-col>
            <ion-col size="4" class="adjust-font-size">Actions</ion-col>
          </ion-row>
        </ion-label>
        <ion-item *ngFor="let player of players; let i = index">
          <ion-label [ngClass]="getPlayerStatusClass(player.status)">
            <ion-row>
              <ion-col size="1" class="adjust-font-size">{{ i + 1 }}</ion-col>
              <ion-col size="3" class="adjust-font-size">{{ player.name }}</ion-col>
              <ion-col size="2" class="adjust-font-size">{{ player.gamesPlayed }}</ion-col>
              <ion-col size="2" class="adjust-font-size">{{ player.status }}</ion-col>
              <ion-col size="4" class="adjust-font-size">
                <ion-button color="danger" (click)="removePlayer(i)" class="adjust-font-size adjust-button-spacing">
                  <ion-icon name="trash-outline" src="assets/icons/trash-outline.svg"></ion-icon>
                </ion-button>
                <ion-button *ngIf="player.status === 'Resting'" size="small" class="small-button-label adjust-font-size adjust-button-spacing" color="warning" (click)="overrideRest(player)">
                  End Rest {{ player.restTime }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

