

<ion-content>
<div style="text-align:center">
  <h1>Welcome to Badminton Game Queueing!</h1>
</div>
<hr>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" style="padding: 10px;">
        <ion-card>
          <ion-card-content>
            <add-player></add-player>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" style="padding: 10px;">
        <ion-card>
          <ion-card-content>
            <player-summary></player-summary>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" style="padding: 10px;">
        <ion-card>
          <ion-card-content>
            <player-list></player-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" style="padding: 10px;">
        <ion-card>
          <ion-card-content>
            <game-list></game-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>


