.small-button {
  --padding-start: 4px;
  --padding-end: 4px;
}

.small-button-label {
  font-size: 12px;
  text-transform: none;
  white-space: normal;
}

.in-game-status {
  background-color: #FFF380;
}

.completed-status {
  background-color: #D3D3D3;
}

@media screen and (max-width: 576px) {
  .adjust-font-size {
    font-size: 12px; /* Adjust the font size as needed */
    padding: 4px 8px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .adjust-font-size {
    font-size: 14px; /* Adjust the font size as needed */
    padding: 6px 12px;
  }
}

@media screen and (max-width: 320px) {
  .adjust-font-size {
    font-size: 10px;
    padding: 2px 6px;
  }
}

@media screen and (min-width: 321px) and (max-width: 568px) {
  .adjust-font-size {
    font-size: 12px;
    padding: 4px 10px;
  }
}

@media screen and (max-width: 375px) {
  .adjust-font-size {
    font-size: 10px;
    padding: 2px 6px;
  }
}

@media screen and (min-width: 376px) and (max-width: 667px) {
  .adjust-font-size {
    font-size: 12px;
    padding: 4px 10px;
  }
}

@media screen and (max-width: 414px) {
  .adjust-font-size {
    font-size: 10px;
    padding: 2px 6px;
  }
}

@media screen and (min-width: 415px) and (max-width: 736px) {
  .adjust-font-size {
    font-size: 12px;
    padding: 4px 10px;
  }
}

@media screen and (max-width: 414px) {
  .adjust-font-size {
    font-size: 10px;
    padding: 2px 6px;
  }
}

@media screen and (min-width: 415px) and (max-width: 896px) {
  .adjust-font-size {
    font-size: 12px;
    padding: 4px 10px;
  }
}
