.small-button {
  --padding-start: 4px;
  --padding-end: 4px;
}

.small-button-label {
  font-size: 12px;
  text-transform: none;
  white-space: normal;
}

.in-game-status {
  background-color: #FFF380;
}

.completed-status {
  background-color: #D3D3D3;
}
